.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    height: 500px;
    background-color:white;
    border-radius: 30px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.form_label {
    font-size: 2.0rem;
    font-weight: bold;
    color: black;
}

.form_input {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 10px;
    font-size: 1.6rem;
    color: black;
}

.form_button {
    margin-top: 10px;
    width: 50%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #367083;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    cursor: pointer;
}

.form_img {
    height: 100px;
    border-radius: 50%;
    border-top: 1px solid black;
    border-radius: 50%;
}

